
<!-- 菜单导航栏-->

<aside class="main-sidebar">
  <section class="sidebar">

    <ul class="sidebar-menu" data-widget="tree">
      <li>
        <a href="/index.do"><i class="fa fa-link"></i> <span>Customer管理</span></a>
      </li>
      <li class="treeview">
        <a href="FilmIndex.do"><i class="fa fa-link"></i> <span>Film 设置</span>
          <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="#">Link in level 2</a></li>
          <li><a href="#">Link in level 2</a></li>
        </ul>
      </li>
    </ul>

    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>

